<div *ngIf="isShow">
    <div>
        <input type="text" placeholder="vietnamese" [(ngModel)]="newVn">
    </div>
    <div>
        <input type="text" placeholder="english" [(ngModel)]="newEn">
    </div>
    <button (click)="themTuMoi()">Thêm từ mới</button>
</div>
<button (click)="isShow = !isShow" *ngIf="!isShow">Thêm từ mới</button>
<div *ngFor="let item of arrWords" class="item">
    <h4 [ngStyle]="getStyles(item.memorized)">{{item.en}}</h4>
    <p>{{item.vn}}</p>
    <button (click)="remove(item.id)">Xóa</button>
</div>